API_HOST=https://api.skyfire.xyz
APP_ENV=production
KEYCLOAK_CLIENT_ID=<client-id>
KEYCLOAK_CLIENT_SECRET=<client-secret>
KEYCLOAK_GRANT_TYPE=urn:ietf:params:oauth:grant-type:token-exchange
KEYCLOAK_SUBJECT_TOKEN_TYPE=urn:ietf:params:oauth:token-type:jwt
KEYCLOAK_URL=http://localhost:8080/realms/<realm-name>/protocol/openid-connect/token
KEYCLOAK_SUBJECT_ISSUER='skyfire-idp-token-exchange'
SELLER_SKYFIRE_API_KEY=<skyfire-seller-api-key>